<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/flickity/dist/flickity.min.css">
        <title>Flask Test</title>
    </head>
    <body>
        {% if error %}
            {{ error }}
        {% endif %}
        <div id='wrapper'>
            <img src="/static/img/logo_pachimusic.png" />
            <p>これがコンテンツ</p>
            <div class="main-gallery" style="margin-bottom: 30px">
                <div class="gallery-cell" style="width: 100%">
                    <img src="/static/contents/img.png" alt="" >
                </div>
                <div class="gallery-cell" style="width: 100%">
                    <img src="/static/contents/img.png" alt="" >
                </div>
                <div class="gallery-cell" style="width: 100%">
                    <img src="/static/contents/img.png" alt="" >
                </div>
            </div>
            <p>
                <a download="スペシャル画像" href="/static/contents/img.png">これ1</a>
            </p>
            <p>
                <a download="スペシャル画像" href="/static/contents/img.png">これ2</a>
            </p>
            <p>
                <a download="スペシャル画像" href="/static/contents/img.png">これ3</a>
            </p>
        </div>

        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/css/flickity/dist/flickity.pkgd.min.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
